DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=silversync_db
DB_PORT=5432
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta

SERVER_PORT=8080

GDRIVE_CREDENTIALS_FILE=nodal-ivy-428515-d5-04a5648df757.json
GDRIVE_FOLDER_ID=your_google_drive_folder_id_here

SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
